<div>
    <div>
        <h2 class="scroll-fade">Hello !</h2>
        <p class="scroll-fade">ON FAIT CONNAISSANCE ?</p>
    </div>
    <div id="iuna"></div>
    <div>
        <p class="scroll-fade">Issue d'une famille d'artistes, je porte depuis toujours un réel attrait pour l'image. Depuis mes débuts dans la photographie, mon sens de l'observation s'est affiné ; les moindres petits détails de la vie m'interrogent et me fascinent. Melant art et technique, ce médium me permet alors de donner vie à ma manière d'appréhender le réel : j'aime ressentir, capturer puis transmettre des émotions.</p>
        <p class="scroll-fade">Diplomée d'un BTS Communication, j'ai intégré cette année la L3 Photographie à l'Université de Paris VIII.</p>
    </div>

    <a href="">CONTACT</a>
</div>
<div id="laptop"></div>