<div>
    <div class="img"></div>
    <div>
        <h2>N'attendez plus !</h2>
        <div>
            <p>E-mail : iuna.chaus@gmail.com</p>
            <p>Téléphone : 07 68 11 63 71</p>
            <p>instagram : @iiunaaa</p>
        </div>
    </div>
</div>
<div>
    <div class="img"></div>
    <div id="form">
        <div>
            <p>Nom*</p>
            <input type="text" placeholder="Votre nom">
        </div>
        <div>
            <p>Adresse e-mail*</p>
            <input type="email" name="" id="" placeholder="Votre adresse e-mail">
        </div>
        <div>
            <p>Message*</p>
            <textarea name="" id="" placeholder="Votre message"></textarea>
        </div>
        <button>Envoyer</button>
    </div>
</div>