<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>iuna</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <div>
                    <a href="">HOME</a>
                    <a href="">PORTFOLIO</a>
                </div>
                <div>
                    <p>IUNA CHAUSSEPIED</p>
                </div>
                <div>
                    <a href="">INFO</a>
                    <a href="">CONTACT</a>
                </div>
            </ul>
        </nav>

        <nav id="burger">
            <ul>
                <div>
                    <a href="">HOME</a>
                    <a href="">PORTFOLIO</a>
                </div>
                <div>
                    <p>IUNA CHAUSSEPIED</p>
                </div>
                <div>
                    <a href="">INFO</a>
                    <a href="">CONTACT</a>
                </div>
            </ul>
        </nav>

        <div>
            <h1>IUNA CS</h1>
            <p>VENEZ DECOUVRIR MON UNIVERS !</p>
            <button>VOIR LE PORTFOLIO</button>
        </div>

        <div>
            <span><</span>
            <span>></span>
        </div>
    </header>
    <main></main>
    <footer></footer>
    <script src="app.js"></script>
</body>
</html>