<div id="dossiers">
    <ul >
        <h2 class="scroll-fade">Portfolio</h2>
        <h3 class="scroll-fade">Voici une sélection de différentes réalisations personnelles, classées par types.</h3>
        <p class="scroll-fade">J'alimente très régulièrement cette page, n'hésitez pas à la consulter de temps en temps et à me faire un retour sur vos premières impressions ! </p>
    </ul>
</div>
<div id="photos">
    <button id="return"><?xml version="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
        <svg fill="#666" width="30px" height="30px" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M19 7v6c0 1.103-.896 2-2 2H3v-3h13V8H5v2L1 6.5 5 3v2h12a2 2 0 0 1 2 2z"/></svg></button>
</div>