
main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    flex-direction: column;
    min-height: 100vh;
    padding: 150px 0;
}

main > div:nth-child(1){
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    
}

main > div:nth-child(1) div:nth-child(1) {

    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 50px 0px;

}

main > div:nth-child(1) div:nth-child(1) h2{
    font-family: "Cormorant Upright", serif;
    font-weight: 500;
    color: #666;
    font-size: 4.5rem;
    margin-bottom: 10px;
    position: absolute;
    top: -20px;
    left: 70px;
    
}

main > div:nth-child(1) div:nth-child(1) p{
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    color: #666;
    font-size: 1rem;
    letter-spacing: 3px;
    position: absolute;
    top: 100px;
    left: 50%;
    text-align: center;
    width: 100%;
    transform: translate(-50%,-50%);
    /* text-shadow: -2px 0px 2px #444; */
}

main > div:nth-child(1) #iuna{

    background: url(/img/iuna2.png) center/cover no-repeat;
    width: 90%;
    max-width: 500px;
    height: 500px

}

main > div:nth-child(1) div:nth-child(3){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

main > div:nth-child(1) div:nth-child(3) p{
    color: #333;
    font-size: 1.1rem;
    text-align: center;
}

main > div:nth-child(1) a{
    color: #eee;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 1rem;
    padding: 15px 25px;
    background-color: #666;
    border: none;
    text-decoration: none;
}

