#main-content{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#main-content #dossiers{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-direction: column;
    padding-bottom: 150px;
}

#main-content #dossiers ul{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    height: 400px;
}

#main-content #dossiers ul h2{
    font-family: "Cormorant Upright", serif;
    font-weight: 800;
    color: #666;
    font-size: 4.5rem;
    margin-bottom: 10px;
    
}

#main-content #dossiers ul h3{
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    color: #666;
    font-size: 1rem;
    letter-spacing: 1px;
    width: 100%;
    text-align: center;
    
}

#main-content #dossiers ul p{
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    color: #666;
    font-size: 1rem;
    letter-spacing: 1px;
    width: 100%;
    text-align: center;
    
}

.dossier{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-width: 500px;
    width: 90%;
    box-shadow: 0px 0px 20px 0px #0000004f;
}

.dossier::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    z-index: 2;
}


#main-content #dossiers div img{
    width: 100%;
    
}

#main-content #dossiers div h2{
    z-index: 3;
    color: #fff;
    text-shadow: 0px 0px 20px black;
    text-transform: capitalize;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#main-content #photos {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 100px 10px;
    position: relative;
    clip-path: inset(0);
    
}

#main-content #photos #return{
    width: 60px;
    height: 60px;
    border-bottom-left-radius: 20px;
    position: fixed;
    top: 0px;
    right: 0px;
    border: none;
    background-color: #fff;
    box-shadow: 0px 0px 20px 0px #0000004f;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#main-content #photos img{
    width: 100%;
}